.board {
    border: solid 1px black;
    font-size: 3em;
}

.board td {
    text-align: center;
    width: 2em;
    height: 2em;
}

.message {
    padding: 10px;
}

.message.success {
    color: white;
    background-color: green;
}

.message.err {
    color: white;
    background-color: red;
}
